.section {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}