/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%)
}

* {
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
}

app-root {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.utility {
    border: 1px solid red;
}